* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
}
.btn {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}
